<section class="container lg:p-16 p-8">
  <h2 class="text-secondary font-sans text-4xl font-bold text-center pb-6">
    Formação
  </h2>
  <p class="font-mono text-xl w-1/2 mx-auto text-white py-6 text-center">
    Além da <span class="text-secondary font-semibold">tecnologia</span>, meu
    coração bate pela
    <span class="text-secondary font-semibold">educação</span>, e acredito no
    poder da colaboração, ética e respeito para construir
    <span class="text-secondary font-semibold">soluções inovadoras</span>
  </p>
  <div class="md:flex justify-center gap-x-20 font-mono text-lg">
    <div>
      <img src="./assets/img/img-graduate.webp" alt="graduate" />
    </div>
    <div class="mt-36">
      <div class="flex gap-2 pb-12">
        <i class="bi bi-mortarboard text-secondary"></i>
        <p class="text-white">Pedagoga graduada pela UFRN</p>
      </div>
      <div class="flex gap-2 pb-12">
        <i class="bi bi-mortarboard text-secondary"></i>
        <p class="text-white">Pós-graduada em Educação Infantil</p>
      </div>
      <div class="flex gap-2 pb-12">
        <i class="bi bi-mortarboard text-secondary"></i>
        <p class="text-white">Técnica em Tecnologia da Informação</p>
      </div>
      <div class="flex gap-2 pb-12">
        <i class="bi bi-mortarboard text-secondary"></i>
        <p class="text-white">Pós-graduanda em Engenharia de Software</p>
      </div>
    </div>
  </div>
</section>
