<section class="container lg:p-16 p-8">
  <h2 class="text-secondary font-sans text-4xl font-bold text-center pb-6">
    Habilidades
  </h2>
  <div class="flex justify-center py-6">
    <div class="grid md:grid-cols-6 grid-cols-2 gap-6">
      <a
        href="https://angular.dev/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-angular.svg"
          class="w-14 pt-2 mx-auto"
          alt="angular"
        />
      </a>
      <a
        href="https://www.typescriptlang.org/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-ts.svg"
          class="w-14 pt-2 mx-auto"
          alt="typescript"
        />
      </a>
      <a
        href="https://www.javascript.com/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-javascript.svg"
          class="w-14 pt-2 mx-auto"
          alt="javascript"
        />
      </a>
      <a
        href="https://github.com"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-github.svg"
          class="w-14 pt-2 mx-auto"
          alt="github"
        />
      </a>
      <a
        href="https://tailwindcss.com"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-tailwind-css.svg"
          class="w-14 pt-2 mx-auto"
          alt="tailwind"
        />
      </a>
      <a
        href="https://code.visualstudio.com"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-visual-studio.svg"
          class="w-14 pt-2 mx-auto"
          alt="visual studio code"
        />
      </a>
      <a
        href="https://devdocs.io/css/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-css3.svg"
          class="w-14 pt-2 mx-auto"
          alt="css"
        />
      </a>
      <a
        href="https://vuejs.org/guide/introduction"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-vuejs-50.svg"
          class="w-14 pt-2 mx-auto"
          alt="vue"
        />
      </a>
      <a
        href="https://docs.docker.com/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-docker-50.svg"
          class="w-14 pt-2 mx-auto"
          alt="docker"
        />
      </a>
      <a
        href="https://cloud.google.com/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-cloud-64.svg"
          class="w-14 pt-2 mx-auto"
          alt="cloud"
        />
      </a>
      <a
        href="https://aws.amazon.com/pt/"
        target="_blank"
        class="w-20 h-20 bg-secondary rounded-2xl cursor-pointer"
      >
        <img
          src="./assets/icons/icons8-aws-32.svg"
          class="w-14 pt-2 mx-auto"
          alt="aws"
        />
      </a>
    </div>
  </div>
</section>
<section class="container lg:p-16 p-8">
  <h2 class="text-secondary font-sans text-4xl font-bold text-center pb-6">
    Pilares do meu desenvolvimento
  </h2>
  <h3 class="text-white font-mono text-xl w-1/2 text-center mx-auto">
    Com a minha evolução profissional ao longo de
    <span class="text-secondary font-semibold">4 anos</span> de trabalho,
    algumas características se tornaram
    <span class="text-secondary font-semibold">essenciais</span> no meu
    desenvolvimento
  </h3>
  <div class="flex justify-center">
    <img src="./assets/img/pilares.webp" class="w-80" alt="pilares" />
  </div>
</section>
