<section class="container lg:p-16 p-8">
  <div class="md:flex md:justify-between">
    <div class="md:w-1/2 mt-20">
      <p class="text-secondary font-sans sm:text-5xl text-3xl font-bold">
        Olá, sou a Clara Felix!
      </p>
      <p class="font-mono sm:text-2xl text-lg text-white pt-10">
        Apaixonada por criar interfaces
        <span class="text-secondary font-semibold">eficientes</span> e
        <span class="text-secondary font-semibold">acessíveis</span>, tenho
        experiência com
        <span class="text-secondary font-semibold">Angular 15+</span>,
        TypeScript e integração de APIs, além de atuação em projetos inovadores
        com Web3 e Inteligência Artificial
      </p>
      <div class="mt-6 cursor-pointer">
        <i class="bi bi-mouse text-secondary text-3xl"></i>
      </div>
    </div>
    <div class="pt-6 xl:pt-0">
      <img
        src="./assets/img/profile.webp"
        class="sm:w-80 w-52 mx-auto h-100"
        alt="profile clara"
      />
    </div>
  </div>
</section>
