<section class="container lg:p-16 p-8">
  <div class="md:flex md:justify-between">
    <div class="md:w-1/2 mt-20">
      <p class="text-secondary font-sans sm:text-5xl text-3xl font-bold">
        Olá, sou Clara Felix!
      </p>
      <p class="font-mono sm:text-xl text-lg text-white pt-10">
        Apaixonada por criar soluções digitais
        <span class="text-secondary font-semibold">eficientes</span> e
        <span class="text-secondary font-semibold">acessíveis</span>, atuo com
        <span class="text-secondary font-semibold">Angular</span> e
        <span class="text-secondary font-semibold"> TypeScript</span> no
        desenvolvimento de interfaces orientadas à experiência do usuário.
        Atualmente, venho expandindo minha atuação para o full stack com
        <span class="text-secondary font-semibold">Node.js</span> e aplicações
        com
        <span class="text-secondary font-semibold">Inteligência Artificial</span
        >.
      </p>
      <div class="mt-6 cursor-pointer">
        <i class="bi bi-mouse text-secondary text-3xl"></i>
      </div>
    </div>
    <div class="pt-6 xl:pt-0">
      <img
        src="./assets/img/profile.webp"
        class="sm:w-80 w-52 mx-auto h-100"
        alt="profile clara"
      />
    </div>
  </div>
</section>
