<section class="container lg:p-16 p-8">
  <h2
    class="text-secondary font-sans sm:text-4xl text-3xl font-bold text-center pb-6"
  >
    Projetos
  </h2>
  <p
    class="font-mono sm:text-xl text-lg lg:w-1/2 mx-auto text-white py-6 text-center"
  >
    Como prestadora de serviços atuei em projetos com códigos públicos e
    privados, desenvolvendo aplicações como
    <span class="text-secondary font-semibold">landings</span>,
    <span class="text-secondary font-semibold">plataforma de jogos</span> e
    <span class="text-secondary font-semibold">aplicativos</span>
  </p>
  <div class="grid md:grid-cols-2 gap-8">
    <div>
      <p
        class="text-secondary font-sans sm:text-3xl text-2xl font-bold text-center pb-6"
      >
        Repositórios com código aberto
      </p>
      <div class="grid gap-6">
        <div
          class="hover:border-2 hover:shadow-lg hover:shadow-secondary rounded-md p-4 border-secondary"
        >
          <div class="flex gap-x-6">
            <div
              href="https://www.w3fs.dev/home"
              target="_blank"
              class="w-44 h-32 bg-secondary bg-opacity-25 flex justify-center rounded-2xl cursor-pointer"
            >
              <img
                src="./assets/img/icons8-metamask-64.png"
                class="w-24 mx-auto"
                alt="angular"
              />
            </div>
            <div class="w-full">
              <p class="font-mono text-white text-sm">
                O W3FS utiliza o Alchemy SDK e os serviços Metamask para se
                integrar perfeitamente à carteira Metamask, garantindo uma
                experiência tranquila ao usuário, de autoria da equipe da
                Venture Miner
              </p>
            </div>
          </div>
        </div>
        <div
          class="hover:border-2 hover:shadow-lg hover:shadow-secondary rounded-md p-4 border-secondary"
        >
          <div class="flex gap-x-6">
            <div
              href="https://www.wagademy.com/student"
              target="_blank"
              class="w-44 h-32 bg-secondary bg-opacity-25 flex justify-center rounded-2xl cursor-pointer"
            >
              <img
                src="./assets/img/img-logo-wagademy.svg"
                class="w-24 mx-auto"
                alt="angular"
              />
            </div>
            <div class="w-full">
              <p class="font-mono text-white text-sm">
                Onde a inovação educacional é a prioridade. Explore experiências
                de aprendizagem únicas, facilitadas por tecnologia de ponta,
                promovendo conexões entre empresas e alunos, de autoria da
                equipe da Venture Miner
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p
        class="text-secondary font-sans sm:text-3xl text-2xl font-bold text-center pb-6"
      >
        Repositórios com código privado
      </p>
      <div class="grid gap-6">
        <div
          class="hover:border-2 hover:shadow-lg hover:shadow-secondary rounded-md p-4 border-secondary"
        >
          <div class="flex gap-x-6">
            <div
              href="https://www.nfboost.com/home"
              target="_blank"
              class="w-44 h-32 bg-secondary bg-opacity-25 flex justify-center rounded-2xl cursor-pointer"
            >
              <img
                src="./assets/img/img-logo-nfboost.svg"
                class="w-24 mx-auto"
                alt="angular"
              />
            </div>
            <div class="w-full">
              <p class="font-mono text-white text-sm">
                Jogo de fantasia multiesportivo com NFTs e recursos exclusivos,
                de autoria da equipe da Venture Miner
              </p>
            </div>
          </div>
        </div>
        <div
          class="hover:border-2 hover:shadow-lg hover:shadow-secondary rounded-md p-4 border-secondary"
        >
          <div class="flex gap-x-6">
            <div
              href="https://www.ventureminer.com/home"
              target="_blank"
              class="w-44 h-32 bg-secondary bg-opacity-25 flex justify-center rounded-2xl cursor-pointer"
            >
              <img
                src="./assets/img/img-logo-VM.svg"
                class="w-24 mx-auto"
                alt="angular"
              />
            </div>
            <div class="w-full">
              <p class="font-mono text-white text-sm">
                Landing desenvolvida e estruturada em equipe para o site da
                empresa Venture Miner, de autoria da equipe da Venture Miner
              </p>
            </div>
          </div>
        </div>
        <div
          class="hover:border-2 hover:shadow-lg hover:shadow-secondary rounded-md p-4 border-secondary"
        >
          <div class="flex gap-x-6">
            <div
              href="https://www.clutchgpt.com/account/login"
              target="_blank"
              class="w-44 h-32 bg-secondary bg-opacity-25 flex justify-center rounded-2xl cursor-pointer"
            >
              <img
                src="./assets/img/img-logo-clutchGPT.svg"
                class="w-24 mx-auto"
                alt="angular"
              />
            </div>
            <div class="w-full">
              <p class="font-mono text-white text-sm">
                Sistema desenvolvido com inteligência artificial e armazenamento
                em nuvem de arquivos de mensagem e envio de emails, de autoria
                da equipe da Venture Miner
              </p>
            </div>
          </div>
        </div>
        <div
          class="hover:border-2 hover:shadow-lg hover:shadow-secondary rounded-md p-4 border-secondary"
        >
          <div class="flex gap-x-6">
            <div
              href="https://takecarbon.com/"
              target="_blank"
              class="w-44 h-32 bg-secondary bg-opacity-25 flex justify-center rounded-2xl cursor-pointer"
            >
              <img
                src="./assets/img/img-logo-takecarbon.svg"
                class="w-24 mx-auto"
                alt="angular"
              />
            </div>
            <div class="w-full">
              <p class="font-mono text-white text-sm">
                O primeiro ambiente totalmente aberto e descentralizado para
                promoveriniciativas ESG impactantes, de autoria da equipe da
                Venture Miner
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
